h1 {
    position:fixed;
    top:32px;
    left:32px;
}

a.dark-mode-toggle {
    position: fixed;
    bottom:32px;
    left:32px;
}

a.menu-toggle {
    position:fixed;
    top:32px;
    right:32px;
}