@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
    --main-color:#ffffff;
    --text-color:#000000;
    --hightlight-color:#2727e6;
}


body.dark-mode {
    --main-color:#000000;
    --text-color:#ffffff;
    --hightlight-color:#ff4141;
}

body {
    font-family: "Inter";
    font-size: 24px;
    line-height: 40px;
    color: var(--text-color);
    background-color: var(--main-color);
    background-image: url(./assets/grid.svg);
    background-position: center center;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    color:var(--hightlight-color);
}

h1 {
    position:fixed;
    top:32px;
    left:32px;
}

a.dark-mode-toggle {
    position: fixed;
    bottom:32px;
    left:32px;
}

a.menu-toggle{
    position:fixed;
    top:32px;
    right:32px;
}


